asgiref==3.5.0
autopep8==1.6.0
bitstring==3.1.9
cffi==1.15.0
cryptography==36.0.1
Django==4.0.2
django-cors-headers==3.11.0
djangorestframework==3.13.1
ecdsa==0.17.0
esptool==3.2
Pillow==9.0.1
pycodestyle==2.8.0
pycparser==2.21
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.3
reedsolo==1.5.4
six==1.16.0
sqlparse==0.4.2
tk==0.1.0
toml==0.10.2
